.audio-player-container {
    width: auto;
    max-width: 100%;
    display: inline-block;
    border: 1px solid black;
}

#current-track {
    text-align: center;
}

#audio-player {
    margin-bottom: 0;
}

#audio-tracks {
    box-sizing: border-box;
    margin-top: 0;
    width: 100%;
}

#audio-tracks li {
    line-height: 2em;
}